
/*............................Global Style Section.......................*/
*{
    box-sizing: border-box;
    font-family: "Arial", Times, serif;
}
body{

    margin: 0;
    padding: 0;
    background-color: #ffffff;
}



/*.............................Header Section..............................*/
.main_Header{
    width: 100%;
    background-color: rgb(52, 52, 197);
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header_Content h1{
    color: aliceblue;
    font-size: 65px;
    line-height: 70px;   
}

.banner_Image{
    width: 100%;
    
}

.banner_Image img{
    width: 85%;
    
}

/*.....................Button Design..........*/
.red_Button{
    background-color: rgb(224, 39, 39);
    border: none;
    padding: 10px 20px;
    border-radius: 1px solid red;
}
.red_Button a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(236, 237, 238);
    
}
.red_Button i{
    margin-left: 10px;
    font-size: 12px;
}



/*................................Article or Main-Body Section.........................*/
.main_Body{
    height: auto;
    padding: 5% 10% 15% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2%;
    justify-content: center;
    justify-items: center;
    
}
.main_Body .player_detail{
    
    width: 90%;
    padding: 3%;
    background-color: rgb(255, 255, 255);
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: -15px -15px 15px #f3efe8;
    
}
.player_photo img{
    width: 100%;

}



/*...............................Highlight Section.....................................*/
.highlight{
    
    height: auto;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    
}

.highlight_details{
    padding: 5%;
}
.highlight_details h1{
    font-size: 40px;
}
.highlight_details p{
    line-height: 25px;
    font-size: 14px;
}

.highlight_image img{
    width: 100%;
    height: 100%;
}



/*..........................................Footer Section...............................*/
.footer_area{
    width: 100%;
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer_logo{
    width: 40%;
}
.footer_logo img{
    width: 80%;
}
.footer_icons a{
    text-decoration: none;
    color: rgb(53, 52, 52);
}
.footer_icons i{
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 100%;
    background-color: rgb(211, 204, 204);
}

.footer_content p{
    font-size: 14px;
}